<!DOCTYPE html>
<html>

<head>

    {% include "myStyle.html" %}

</head>

<body>


<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>Enter your email address we will sent you the password reset link.</p>
                        <div class="panel-body">

                            <form autocomplete="off" class="form">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="email"  placeholder="email address" class="form-control" type="email" value="markaguirre26@gmail.com" >
                                    </div>

                                </div>
                                <div  id="err" style="color: #be0007;font-size: 12px" hidden>You have entered an invalid email address!</div>

                                <div class="form-group">
                                    <button type="button" id="recover-submit"  class="btn btn-lg btn-primary btn-block" >Reset Password</button>
                                </div>
                                <a href="{{ url_for('index') }}" class="pull-right">Login?</a>

                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
{{ flask_util_js.js }}
<script src="{{ url_for('static',filename='js/custom/js_recover.js') }}"></script>

</body>

</html>
