
<!DOCTYPE html>
<html>

<head>

    {% include "myStyle.html" %}



</head>

<body>

<div id="wrapper">

    {% include "nav.html" %}
    <div id="page-wrapper">

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h3 class="panel-title"> Log's List</h3>
                    </div>
                    <div class="panel-body">
                        <table id="records_table" class="display" cellspacing="0" width="100%" ></table>

                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>



<!-- /#wrapper -->
<script src="{{ url_for('static',filename='js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static',filename='js/sb-admin.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/dataTables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
{{ flask_util_js.js }}
<script src="{{ url_for('static',filename='js/custom/js_logs.js') }}"></script>
</body>

</html>
