
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
<link href="{{ url_for('static',filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/sb-admin.css') }}" rel="stylesheet">
<link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static',filename='images/favicon.ico') }}'/>
<link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet">
 <link rel="stylesheet" href="{{ url_for('static',filename='css/plugins/dataTables/jquery.dataTables.min.css') }}">
{# <link rel="stylesheet" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">#}