
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand title" href="{{ url_for('index') }}" id="title"><img src="{{ url_for('static',filename='images/logo.png') }}" width="30px" height="30px"/>Crime Incident Reporting System</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

        <span>Welcome {{ session['fullName'] }}</span>

        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#" id="aprofile" data-toggle="modal" data-target="#ProfileModals"><i class="fa fa-user fa-fw" ></i> User Profile</a>

                </li>

                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="{{ url_for('index') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>

                <li>
                    <a href="{{ url_for('report') }}"><i class="fa fa-table fa-fw"></i> Reports</a>
                </li>
                {#                <li>#}
                {#                    <a href="{{ url_for('announcement') }}"><i class="fa fa-microphone fa-fw"></i> Announcement</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="{{ url_for('statistics') }}"><i class="fa fa-microphone fa-fw"></i> Statistics</a>#}
                {#                </li>#}
                {% if  session['user_type'] == 1 %}
                    <li>

                        <a href="#"><i class="fa fa-gear fa-fw"></i> Setting<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            {#                        <li>#}
                            {#                            <a href="#"><span class="fa fa-wrench "> System</span></a>#}
                            {#                        </li>#}
                            <li>
                                <a href="{{ url_for('user') }}"><span class="fa fa-users"> Users</span></a>
                            </li>
                            <li>
                                <a href="{{ url_for('logs') }}"><span class="fa fa-adjust"></span> Logs</a>
                            </li>


                        </ul>
                        <!-- /.nav-second-level -->



                    </li>
                {% endif %}

                <li>
                    <a href="{{ url_for('about') }}"><i class="fa fa-info fa-fw"></i> About</a>
                </li>


            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->



</nav>

<div class="modal fade" id="ProfileModals" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modal_title"></h4>

            </div>

            <div class="modal-body">
                <div id="nuser_error" hidden >
                    <div class="alert alert-danger alert-dismissable" >Please fill all required information
                        <a href="#" class="pull-right close-alert" aria-label="close" id="nuserx" >×</a>
                    </div>
                </div>

                <form role="form">
                    <input  type="hidden" name="txt_cn" id="ntxt_cn" value="{{ session['user_cn'] }}" >
                    <input  type="hidden" name="txt_action"  id="ntxt_action"  >
                    <div class="form-group">
                        <span>Name</span>
                        <input class="form-control" placeholder="Name" name="txt_name"   id="ntxt_name"  >
                    </div>
                    <span>Username</span>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" type="email" name="txt_email" id="ntxt_email" >
                    </div>
                    <div id="div_pwd" hidden>
                        <span>Password</span>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" type="password" name="txt_password" id="ntxt_password" >
                            <div id="pwd_validate" style="font-size: 12px;color: #be0007"  >Minumum lenght of 6</div>
                        </div>
                        <span>Repeat Password</span>
                        <div class="form-group">
                            <input class="form-control" placeholder="Repeat Password" type="password" name="txt_repeatpassword" id="ntxt_repeatpassword" >
                            <div id="nrepwd_validate" style="font-size: 12px;color: #be0007"  >Password not match</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Gender</span>
                            <div class="form-group">
                                <select name="cbo_gender" id="ncbo_gender"  class="form-control">
                                    <option id="select_gender" value="-"></option>
                                    <option id="select_gender" value="Male">Male</option>
                                    <option id="select_gender" value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <span>Age</span>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Age" name="txt_age"  id="ntxt_age" >
                            </div>
                        </div>
                    </div>
                    <span>Address</span>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Address" name="txt_address" id="ntxt_address"></textarea>
                    </div>
                    <span>User Level</span>
                    <div class="form-group">
                        <select name="cbo_type" id="ncbo_type" class="form-control">

                            <option id="nselect_user" value="2">User</option>
                            <option id="nselect_admin" value="1">Admin</option>
                        </select>
                    </div>
                    <div id="div_since">
                        <span>Member Since</span>
                        <div class="form-group">
                            <input class="form-control" type="text" name="txt_since"  id="ntxt_since" disabled>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="cmd_profileSave">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
