
<!DOCTYPE html>
<html>

<head>

    {% include "myStyle.html" %}

</head>

<body>

<div id="wrapper">

    {% include "nav.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Reports</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
{#        <div class="row">#}
{#            <div class="col-lg-12">#}
{#                 <a href="{{ url_for('statistics') }}"><i class="glyphicon glyphicon-stats"></i>  Statistics</a>#}
{#            </div>#}
{#        </div>#}

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        List of Reports
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                       <table id="records_table" class="display" cellspacing="0" width="100%" ></table>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script src="{{ url_for('static',filename='js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static',filename='js/sb-admin.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/dataTables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
{{ flask_util_js.js }}
<script src="{{ url_for('static',filename='js/custom/js_report.js') }}"></script>

</body>

</html>
