<!DOCTYPE html>
<html>

<head>

    {% include "myStyle.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.mThumbnailScroller.css') }}">

</head>

<body>

<div id="wrapper">

    {% include "nav.html" %}
    <ul id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Report Information</h1>
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="{{ url_for('report') }}">Reports</a>
                    <span class="breadcrumb-item active">Details</span>
                </nav>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs" id="tabs">
                    <li class="active"><a data-toggle="tab" href="#reportdetails">Home</a></li>
                    <li><a data-toggle="tab" href="#images" id="imgtabs">Images</a></li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <div class="row tab-pane fade in active" id="reportdetails">
                <div class="col-lg-12">
                    <form style="margin-top: 20px">
                        <input type="hidden" id="txt_cn" name="txt_cn"  >
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" id="txt_subject" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="text" id="txt_description" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Sender</label>
                            <input type="text" id="txt_sender" class="form-control"></input>
                        </div>
                        <div class="form-group">
                            <label>Contact</label>
                            <input type="text" id="txt_contact" class="form-control"></input>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select  id="cbo_status" name="cbo_status" class="form-control">
                                <option id="ul_pending" value="Pending" >Pending</option>
                                <option id="ul_Done" value="Done">Done</option>
                                <option id="ul_Denied" value="Done">Denied</option>
                            </select>
                        </div>
                        {#                    <button type="button" class="btn btn-success">OK</button>#}
                    </form>
                    <div class="row">
                        <div class="col-lg-12">
                            <span>Location: </span> <a id="gotoGoogleMap"   style="color: #0d70b7" target="_blank">view in google map</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" id="images">
                <div class="col-lg-12">

                    {#                    <h2 style="text-align:center">HERE</h2>#}
                    {#                    <hr>#}
                    <div class="row" id="imglist">

                    </div>





                </div>
            </div>
        </div>
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content" >

                <div class="mySlides" id="myslide-item">
                    {#                    <div class="numbertext">1 / 4</div>#}
                    {#                    <img src="images/sample.png" class="img-center">#}
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="caption-container">
                    <p id="caption"></p>

                </div>
                <div id="modal-thumb">
                    {#                <div class="column">#}
                    {#                    <img class="demo cursor img-thumbnail" src="{{ url_for('static',filename='images/sample.png') }}"  onclick="currentSlide(1)" alt="Nature and sunrise">#}
                    {#                </div>#}
                </div>

            </div>
        </div>



</div>

</div>
<!-- /#page-wrapper -->



<!-- /#wrapper -->
<script src="{{ url_for('static',filename='js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.mThumbnailScroller.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static',filename='js/sb-admin.js') }}"></script>
<script src="{{ url_for('static',filename='js/custom/js_report_info.js') }}"></script>

{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsiFr0lU21ppFNfIogeIOvOfoC8xkhvog&callback=initialize"></script>#}
<script>


</script>
</body>

</html>
