<!DOCTYPE html>
<html>

<head>

    {% include "myStyle.html" %}

</head>

<body>

<div id="wrapper">

    {% include "nav.html" %}

    <div id="page-wrapper">

        <!-- /.row -->
<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Statistics</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Area Chart
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
{#                    <div id="morris-area-chart" ></div>#}
               <embed type="image/svg+xml" src="{{ graph_data|safe  }}"></embed>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>


        {#          <div class="col-lg-4">#}
        {#              <div class="panel panel-default">#}
        {#                  <div class="panel-heading">#}
        {#                      Donut Chart#}
        {#                  </div>#}
        {#                  <!-- /.panel-heading -->#}
        {#                  <div class="panel-body">#}
        {#                      <div id="morris-donut-chart"></div>#}
        {#                  </div>#}
        {#                  <!-- /.panel-body -->#}
        {#              </div>#}
        {#              <!-- /.panel -->#}
        {#          </div>#}
    </div>

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script src="{{ url_for('static',filename='js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/morris/raphael-2.1.0.min.js') }}"></script>
{#<script src="{{ url_for('static',filename='js/plugins/morris/morris.js') }}"></script>#}
{#<script src="{{ url_for('static',filename='js/sb-admin.js') }}"></script>#}
{#<script src="{{ url_for('static',filename='js/demo/dashboard-demo.js') }}"></script>#}

{#<script src="{{ url_for('static',filename='js/demo/morris-demo.js') }}"></script>#}
</body>

</html>
